body {
	background-color: #d4d9de;
    margin: 0;
}

#profilePicture {
	border-radius: 50%;
	/* display: inline-block; */
	/*height: 20%;*/
	width: 150px;
	height: auto;
	max-width: 100%;
	display: flex;
	box-shadow: black 2px 5px 5px;
	float:left;
	margin-left: 5%;
	/*object-fit: contain; */
	/*margin-left: 2%;*/
}

.outerHeader {
	width: 50%;
	padding: 2%;
	background-color: #a4c5e6;
    color: #162b5d;
	height: 100%;
	font-family: monospace;
	text-align:center;
	margin-left: 25%;
	
	display: inline-flex;
	
	flex-direction: column;
	/*
	/*justify-content: center; */
	/*align-items: center; */
}

#social-media-sites {
	float:right;
}

#social-media-sites img {
	width: 25px;
	height: 25px;
}


.mainHeader-content {
	margin-left: 50px;
	display: inline-block;	
}


.innerHeader {
	display: inline-block; 
	/*margin: 0 auto; */
	padding: 3px;
	color: #162b5d;
	width: 50%;
}

.work-ex {
	float:left;
}